<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'AppTwo/style.css' %}">
</head>
<body>

    <h1>{{ welcome_message }}</h1>

    <p>
        Course: {{ course_name }} <br>
        Name: {{ my_name }}
    </p>

    <p>
        Students today: {{ students_today }}
    </p>

    <img src="{% static 'AppTwo/image.png' %}" alt="Image">

    <h2>Student List</h2>

    <table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>
